@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}


@import "app/template/template";
@import "primeicons/primeicons.css";

/* You can add global styles to this file, and also import other style files */
.p-element input{
    display: block;
    width: 100%;
}
//para elementos ocuparem todo o espaço da grid
.full,.full *{
  width: 100%;
}

.ui-panelmenu li{
  list-style-type: none;
}
.ui-panelmenu a{
  text-decoration: none;
  cursor: pointer;
  color: rgb(65, 58, 58);
}

.ui-menu-list{
  padding: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h3,ul{
  margin: 0;
}

table th {
  text-align: unset;
  padding: 3px 0 3px 0;
}

a{
  text-decoration: none;
}

.p-dropdown{
  width: 100%;
}
.p-calendar{
  width: 100%;
}
.p-autocomplete{
  width: 100% ;
}
.obrigatorio{
  color:red;
}

.div-btn-novo{
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 1000;
}

.filter-fildset legend {
  padding: .4rem !important;
}

//begin nav
.size-app-nav .p-panelmenu-header-action{
  padding: 0.75rem;
}
.size-app-nav .p-menuitem-link{
  padding: 0.5rem 1rem;
}
:host(.size-app-nav .p-panelmenu-content){
  padding: 0;
  padding-bottom: .5rem !important;
}
//end nav